<a href="https://colab.research.google.com/github/DaniFarias/Previsao_de_Tensoes_TCC_FURG/blob/main/Previs%C3%A3o_de_Tens%C3%B5es_TCC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
# Importa bibliotecas

%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import sklearn

In [ ]:
# Importa do dataset
tensoes = pd.read_csv('TensaoOriginal.csv', thousands=',', delimiter=';', encoding='latin1', na_values='n/a')
tensoes.head(3)

In [ ]:
#list(tensoes)
#tensoes.info()
#tensoes.describe()

In [4]:
# Drop coluna Tempo
tensoes.drop(columns=['Tempo'], inplace = True)
tensoes.head(3)

In [5]:
# Para garantir um resultado idêntico, iniciamos a geração randomica com a mesma semente (seed)
np.random.seed(42)

In [6]:
# Split dos dados de treino e teste
from sklearn.model_selection import train_test_split

tensoes_treino, tensoes_teste = train_test_split(tensoes, 
                                                 test_size=0.2, 
                                                 random_state=42)
print('tensoes_treino:', len(tensoes_treino))
print('tensoes_teste: ', len(tensoes_teste))

tensoes_treino: 171752
tensoes_teste:  42938

In [7]:
# Separar treino
X = tensoes_treino.drop('Tensao12', axis=1)
y = tensoes_treino['Tensao12'].copy()

In [36]:
tensoes.sample(50)

,Corrente,Cap1,Cap2,Cap3,Cap4,Cap5,Cap6,Cap7,Cap8,Cap9,...,Tensao3,Tensao4,Tensao5,Tensao6,Tensao7,Tensao8,Tensao9,Tensao10,Tensao11,Tensao12
19161,348.79,0,0,0,0,1,1,1,1,0,...,20248.05,20253.78,20077.66,19822.19,19594.66,19421.94,19549.83,19796.56,19990.95,20144.19
86267,433.85,0,0,0,0,0,0,0,0,1,...,18707.45,18855.55,18859.42,18933.80,18955.53,19051.79,18624.93,18175.41,18307.11,18445.62
201635,-180.65,1,1,1,1,1,1,1,1,0,...,21338.85,21397.70,21468.29,21596.75,21652.74,21547.24,21197.76,21137.72,21080.03,18381.54
9510,485.89,0,1,1,0,0,0,0,0,0,...,19028.12,18846.94,18854.06,18972.40,19031.47,19151.23,19251.43,19325.77,19480.62,19570.20
62419,397.54,0,0,0,0,0,1,1,0,0,...,19968.14,20051.78,20079.96,19838.75,19544.26,19395.81,19424.47,19526.36,19594.79,19659.61
120822,453.01,0,0,0,0,1,1,0,0,0,...,20824.19,20808.10,20487.82,20043.06,20292.00,20565.29,20777.86,20864.17,20857.90,18940.86
12282,-76.26,1,1,1,1,1,1,1,1,0,...,20423.34,20390.44,20431.75,20546.28,20626.33,20716.39,20792.18,20821.98,20704.77,20657.93
33361,235.15,0,1,1,1,1,1,0,0,0,...,18241.97,18089.38,17842.78,17694.11,17745.18,17903.82,18000.32,18117.42,18373.36,18465.89
50146,46.35,1,1,1,1,1,0,0,0,0,...,17748.19,17837.63,17775.92,17778.95,17844.50,17854.69,17869.42,17837.95,17975.39,17882.26
109187,-136.90,1,1,1,1,1,1,1,1,1,...,18961.70,18999.09,18913.70,18889.28,18862.64,18918.99,18964.14,18920.07,19002.43,19027.49
130721,470.05,0,0,1,0,0,0,0,0,0,...,21092.99,20686.76,20833.34,20946.45,21106.02,21227.86,21238.99,21204.77,21026.54,18871.17
154715,498.89,0,0,1,0,0,0,0,0,0,...,20562.02,20348.66,20487.35,20621.34,20784.88,20838.52,20740.91,20697.64,20608.73,18703.75
56646,-132.35,1,1,1,1,1,1,1,1,1,...,19414.77,19388.79,19321.74,19343.02,19403.97,19326.05,19351.61,19484.13,19567.82,19576.75
73231,-137.86,1,0,0,0,1,1,1,1,1,...,20667.04,20519.63,20352.28,20455.98,20501.34,20534.63,20536.04,20595.62,20557.25,20624.83
132254,153.59,0,0,0,1,1,1,1,1,0,...,22370.88,22222.52,22208.47,22200.91,22240.26,22266.43,22317.27,22460.18,22216.63,18860.31
154449,426.55,1,0,0,0,0,0,0,0,0,...,20061.44,20350.80,20489.54,20623.59,20787.15,20840.79,20743.18,20699.98,20443.18,18705.74
169477,-53.73,1,1,0,0,0,1,1,1,1,...,19330.26,19487.75,19487.82,19603.96,19710.25,19699.63,19584.03,19470.83,19482.88,18602.35
130777,461.61,0,0,0,1,0,0,0,0,0,...,21195.85,20917.70,20832.89,20945.99,21105.55,21227.39,21238.52,21204.28,21026.10,18870.77
176813,-163.22,1,1,1,1,1,1,1,1,1,...,20612.32,20760.26,20768.13,20781.28,20886.23,20827.19,20691.91,20541.38,20526.15,18551.77
138342,463.51,0,0,0,1,0,0,0,0,0,...,20826.19,20540.31,20615.39,20795.67,20943.69,21039.64,20986.32,20930.46,20779.62,18817.71
60316,480.44,0,0,0,0,0,0,0,0,0,...,18643.10,18762.04,18783.50,18882.83,19005.40,19056.76,19051.66,19151.99,18791.19,18421.13
44275,426.70,0,0,0,0,0,0,0,1,0,...,19309.84,19324.56,19347.12,19497.76,19649.08,19593.29,19322.20,19404.28,19476.05,19431.34
40352,-115.27,1,0,1,1,1,1,1,1,1,...,17774.19,17858.96,17855.70,17985.37,18091.78,18181.77,18181.48,18167.05,18292.05,18223.32
200498,16.21,1,1,1,1,1,1,1,0,0,...,22405.01,22384.09,22489.50,22651.78,22742.96,22676.68,22578.50,22576.49,22364.22,18389.28
187489,191.17,1,1,1,0,0,0,0,0,0,...,19469.37,19489.44,19572.68,19690.82,19920.34,19945.12,19920.80,19888.47,19818.41,18478.12
17275,426.49,1,0,0,0,0,0,0,0,0,...,18628.61,18649.29,18640.75,18696.91,18789.14,18890.54,19007.01,19127.96,19271.06,19252.32
65361,-140.13,1,1,1,1,1,1,1,1,1,...,19251.75,19176.20,19156.41,19315.52,19451.32,19492.26,19468.55,19481.78,19439.91,19392.21
51723,519.79,0,0,0,1,1,0,0,0,0,...,19056.42,18926.38,18461.57,18612.58,18791.93,18892.44,18957.13,19011.66,19116.98,19074.43
200493,16.07,1,1,1,1,1,1,1,0,0,...,22404.37,22383.48,22488.88,22651.15,22742.33,22676.71,22578.53,22576.52,22364.25,18389.31
197489,447.05,0,0,0,0,0,0,0,0,0,...,20631.04,20725.00,20831.74,21041.33,21159.72,21164.13,21095.87,21056.61,20958.47,18409.47
138967,402.39,0,0,0,0,0,0,0,0,1,...,20821.13,20826.45,20975.39,21131.22,21273.64,21396.63,21299.40,20925.27,20774.87,18813.33
136267,11.06,0,0,0,0,1,1,1,1,1,...,19228.51,19342.64,19442.84,19553.53,19724.50,19826.27,19724.07,19608.78,19460.34,18832.32
37743,15.11,0,0,0,0,1,1,1,1,1,...,20816.86,20681.64,20623.23,20679.98,20736.88,20821.18,20844.53,20960.67,20905.20,20922.95
58415,1.00,0,1,1,1,1,1,1,1,1,...,17643.02,17722.14,17643.25,17656.01,17730.72,17756.05,17745.94,17750.27,17910.56,17855.67
198774,420.42,1,0,0,0,0,0,0,0,0,...,20967.60,21089.20,21236.87,21492.35,21697.27,21772.24,21811.37,21921.61,21544.20,18400.90
207730,315.42,1,1,0,0,0,0,0,0,0,...,21456.10,21571.23,21772.59,22034.40,22202.51,22258.49,22262.29,22337.87,21818.27,18340.30
196534,394.51,0,1,1,1,0,0,0,0,0,...,20201.81,19896.38,19942.69,20200.13,20445.13,20560.91,20536.77,20581.00,20581.73,18416.08
79490,421.16,0,0,0,0,0,1,1,0,0,...,19526.78,19646.43,19706.14,19871.11,19489.29,19317.16,19262.68,19276.05,19322.54,19394.97
60334,496.28,0,0,0,0,0,0,0,0,0,...,18642.97,18761.92,18783.38,18882.71,19005.27,19056.63,19051.53,19151.85,18874.59,18421.01
63914,25.24,0,0,0,0,1,1,1,1,1,...,20779.56,20681.47,20577.80,20644.90,20725.47,20756.51,20750.70,20849.91,20748.34,20776.47
133112,-99.99,1,1,1,1,1,0,0,0,0,...,22200.99,22172.44,22360.24,22528.40,22605.87,22623.07,22480.90,22454.91,22136.94,18854.43
173619,411.66,1,1,0,0,0,0,0,0,0,...,20998.45,21150.33,21249.05,21403.77,21657.78,21770.01,21827.04,21901.43,21869.84,18573.70
203097,-69.85,1,1,1,1,1,1,1,1,0,...,19486.69,19640.94,19681.68,19784.11,19872.55,19792.54,19611.04,19377.68,19374.24,18371.86
155569,425.03,0,0,0,0,0,0,0,0,0,...,20878.89,21017.71,21053.55,21090.68,21189.15,21168.96,21100.02,21008.35,20602.54,18698.03
88186,422.29,0,0,1,0,0,0,0,0,0,...,19619.88,19296.98,19208.15,19247.10,19287.75,19383.75,19398.38,19469.09,19570.94,19719.39
150277,-135.17,1,0,0,0,1,1,1,1,1,...,22382.97,22229.06,22264.64,22322.22,22417.23,22400.84,22292.46,22288.68,22127.32,18734.59
155624,439.86,0,0,0,0,0,0,0,0,0,...,20878.54,21017.38,21053.22,21090.34,21188.81,21168.62,21099.68,21055.51,20602.22,18697.73
144583,24.96,1,1,1,1,1,1,0,0,0,...,19374.67,19496.71,19521.79,19562.41,19630.56,19650.89,19554.38,19401.22,19371.82,18774.08
144917,82.40,0,0,1,1,1,1,1,1,1,...,19527.83,19641.72,19669.69,19712.85,19777.96,19754.19,19563.84,19398.69,19383.45,18771.78
26774,462.66,0,0,1,0,0,0,0,0,0,...,19096.65,18770.09,18801.01,18991.74,19164.85,19291.09,19315.76,19409.99,19426.65,19405.42

# 1. Modelo Arvore de Decisão

In [8]:
# Criação e treinamento do modelo por Arvore de Decisão
from sklearn.tree import DecisionTreeRegressor

tree_reg = DecisionTreeRegressor(random_state=42, 
                                 max_depth=10)
tree_reg.fit(X,y)

DecisionTreeRegressor(max_depth=10, random_state=42)

In [ ]:
#print('Acurácia: {:.5%}'.format(tree_reg.score(X, y)))

In [12]:
# Usando a medida de desempenho RMSE
from sklearn.metrics import mean_squared_error

tensoes_predictions = tree_reg.predict(X)

tree_mse = mean_squared_error(y, tensoes_predictions)
tree_rmse = np.sqrt(tree_mse)
print("RMSE:",tree_rmse)

RMSE: 112.17645060558498

In [11]:
# Validação Cruzada para o modelo de Árvore de Decisão
from sklearn.model_selection import cross_val_score

tree_scores = cross_val_score(tree_reg, X, y
                          ,scoring='neg_mean_squared_error'
                          ,cv=5)
tree_scores = np.sqrt(-tree_scores)
print("Mean:  ", tree_scores.mean())
print("Std:   ", tree_scores.std())

Mean:   112.94750705900552
Std:    4.75655878868191

# 2. Floresta Aleatória

In [13]:
# Aqui um modelo de Floresta Aleatória -- demora um pouco mais que os anteriores
from sklearn.ensemble import RandomForestRegressor

forest_reg = RandomForestRegressor(n_estimators=30
                                   ,random_state=42)
forest_reg.fit(X, y)

RandomForestRegressor(n_estimators=30, random_state=42)

In [14]:
# Usando a medida de desempenho RMSE
from sklearn.metrics import mean_squared_error

tensoes_predictions = forest_reg.predict(X)

forest_mse = mean_squared_error(y, tensoes_predictions)
forest_rmse = np.sqrt(forest_mse)
print("RMSE:", forest_rmse)

RMSE: 2.6200649689198405

In [22]:
# Validação cruzada para o modelo de Floresta Aleatória
from sklearn.model_selection import cross_val_score

scores = cross_val_score(forest_reg, X, y
                         ,scoring='neg_mean_squared_error'
                         ,cv=10)
scores = np.sqrt(-scores)
print("Mean:  ", scores.mean())
print("Std:   ", scores.std())

Mean:   6.583189203841551
Std:    1.0818084910929295

In [16]:
# Exibe resultados
print("Scores:", scores)
print("Mean:  ", scores.mean())
print("Std:   ", scores.std())

Scores: [7.09212194 8.23392306 6.40110274 5.92452887 6.55763265 5.7076695
 7.62143826 5.43499228 8.01689173 4.841591  ]
Mean:   6.583189203841551
Std:    1.0818084910929295

In [17]:
# Separar teste
X_test = tensoes_teste.drop('Tensao12', axis=1)
y_test = tensoes_teste['Tensao12'].copy()

In [18]:
# Usando a medida de desempenho RMSE para dados de Teste
final_predictions = forest_reg.predict(X_test)

final_mse = mean_squared_error(y_test, final_predictions)
final_rmse = np.sqrt(final_mse)
print("RMSE: ",(final_rmse))

Erro:  7.230025757633563

In [19]:
# Usando a medida de desempenho CV para dados de Teste
scores = cross_val_score(forest_reg, X, y, 
                         scoring='neg_mean_squared_error', cv=10)
scores = np.sqrt(-scores)

In [20]:
print("Scores:", scores)
print("Mean:  ", scores.mean())
print("Std:   ", scores.std())

Scores: [7.09212194 8.23392306 6.40110274 5.92452887 6.55763265 5.7076695
 7.62143826 5.43499228 8.01689173 4.841591  ]
Mean:   6.583189203841551
Std:    1.0818084910929295

In [ ]:
#Classificação de Features
forest_reg.feature_importances_

for score, name in sorted(zip(forest_reg.feature_importances_, tensoes)):
    print('{:.2%}'.format(score), name)

In [27]:
#print('Acurácia: {:.5%}'.format(forest_reg.score(X_test, y_test)))

In [24]:
z = tensoes_predictions.tolist()

In [ ]:
# Comparação tensoes de teste e preditas
pd.options.display.float_format = '{:.2f}'.format
df = pd.DataFrame((zip(y, z)), columns = ['T_12', 'T_12_predict'])
df.sample(50)